html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .unCard{
    width: 45% !important;
    margin: auto !important;
    margin-bottom: 15px !important;
  }
}

@media (max-width: 668px) {
  .grandMenu {
    flex-wrap: wrap !important;
  }
  .unCard{
    width: 90% !important;
    margin: auto !important;
    margin-bottom: 15px !important;
  }
}

@media (max-width: 550px) {
  .sousMenu {
    flex-wrap: wrap !important;
  }
}